* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

:root {
    --neutral-white: #FFFFFF;
    --navbar-blue: #1992D4;
    --body-grey: #E2E8F0;
    --text-light: #FFFFFF;
    --text-dark: #000000;
}

.container {
    display: grid;
    height: 100%;
    width: 100vw;
    grid-template: 80px 1fr / 260px 1fr
}

.sidebar {
    background-color: var(--navbar-blue);
    grid-column: 1;
    grid-row: 1/3;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logo_container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 0px 12px;
}

.logo {
    width: 40px;
    height: 36px;
}

.logo_container > h2 {
    color: var(--text-light);
}

#navbar {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navbar_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navbar_item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 40px;
    padding: 4px 12px;
    align-items: center;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.navbar_item:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.navbar_item p {
    color: var(--text-light);
    font-size: 22px;
    font-weight: 500;
}

.header {
    background-color: var(--neutral-white);
    grid-column: 2;
    padding: 24px 32px;
}

.body {
    display: grid;
    background-color: var(--body-grey);
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: subgrid;
    grid-template-rows: 80px 1fr;
}

.body_header {
    background-color: var(--neutral-white);
    padding: 12px 32px;
    grid-row: 1;
}

.body_container {
    grid-row: 2;
    padding: 32px 24px;
}


